* { 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

button, input, select, textarea {
  font-family: inherit;
}

body{
    background-color: #f7f7f7;
    
    /*To center the form vertically*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 75%;
    max-width: 500px;   
    min-height: 75vh;
    padding: 4em;
    border-radius: 0.5em;

    background-color: white;
}

.entry-label-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#entryDiv{
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#ageEntry{
    color: black;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    margin-top: 5em;
}

.hiddenElement{
    display: none
}

.input-entry{
    color: black;
}

.error-entry{
    color: maroon;
    border: 1px solid maroon;
}

label{
    padding-left: 15px;

    color: grey;
}

input{
    height: 4em;

    font-size: 1em;
    border: 1px solid grey;
    border-radius: 0.5em;
    padding-left: 15px;

    outline: none;
}

input:focus{
    border: 2px solid navy;
}

button{
    cursor: pointer;

    width: 6em;
    height: 3em;

    border-radius: 0.5em;
    border: none;

    color: white;
    font-weight: bold;
    font-size: 0.9em;

    transform: scale(1);
    transition: filter 0.5s ease, transform 0.2s ease;
}

button:hover{
    filter: brightness(0.8);
    transform: scale(1.1);
}

#registerBtn{
    background-color:navy;
}

#loginBtn{
    background-color: orange;
}

